{% extends 'base.html.twig' %}

{% block body %}



<div  class="container">
	<div class="row">
		<div class="text-center">
			<h1>A Propos</h1>
			<hr>
		</div>
	</div>


	<div class="row">

			<img class="img-responsive center-block img-circle circel"  height="210" width="210" src="http://2.bp.blogspot.com/-JncoWH9LSb8/VYxxH4W7v2I/AAAAAAAAKdc/k4sUnciTbME/s640/Living%2BYour%2BOwn%2BLife2.jpg">
	</div>
	<div class="row">
		<div  class=" tailleT col-md-offset-1 col-md-10 col-md-offset-1">
			
			<div class="text-center ">
					<h2>Bienvenue sur mon blog à l’international!</h2>
			</div>

			<div class="text-justify about">
				<h4>
					Vous êtes curieux, vous aimez voyager ? Ce blog est fait pour vous ! Je vous fais voyager sans que vous ayez besoin de quitter votre salon, et si l’envie vous prend d’aller à l’étranger, je vous invite à consulter les villes que j’ai déjà visitées afin de passer un séjour optimal.
					Ne perdez plus de temps à vous demander si tel restaurant vaut mieux qu’un autre. Évitez les déceptions !
					 Votre fidèle serviteur à testé pour vous les restaurants, sites touristiques, hôtels, .... 
				</h4>
				</div>
		
		<div class="text-justify about">
					<h4>Bonjour et bienvenue à vous, je m’appelle Pierre et j’ai trente ans. J’ai effectué le travail de comptable durant six ans et j’ai décidé de tout laisser tomber du jour au lendemain pour ma passion : LE VOYAGE !! Cela fait 1 ans maintenant que je sillonne les villes du monde pour vous partager les paysages, les rencontres ainsi que les meilleurs plans, pour toutes les bourses !

					</h4>
		</div>
	
		<div class="text-justify about">
					<h4>Lorsque j’étais enfant, mes parents m’emmenaient en voyage très souvent. En voyant les innombrables paysages magnifiques ainsi que la façon dont les gens vivent ailleurs, leur coutume, mentalité, nourriture, cela m’a ouvert l’esprit et m’a appris à être tolérant. Mais surtout cela m’a donné le goût du voyage et de l’inconnue. Désormais je vis de mon blog grâce à vous et suis très heureux de vous faire participer à la découverte de nouveaux horizon.
					Voyager est plus qu’un loisir pour moi, c’est véritablement un mode de vie. 
					<p class="text-center">
						N’hésitez pas à visiter mes pages sur les réseaux sociaux, je publie régulièrement photos,
					astuces et conseils pour les voyageurs et serait heureux de discuter avec vous.
					</p> 
					</h4>
		</div>
		<hr>
	 </div>

	</div>
</div>
 <a href="#" class="fa fa-chevron-up fa-2x" aria-hidden="true" id="toTop"></a>



<!-- FIN DU HTML -->
{% endblock %}