{% extends 'base.html.twig' %}

{% block body %}



<div  class="container">
	<div class="row">
		<div class="text-center">
			<h1>A PROPOS</h1>
			<hr>
		</div>
	</div>

	<div class="row">

			<img class="img-responsive center-block img-circle"  height="210" width="210" src="http://vizeo.net/wp-content/uploads/2013/07/vizeo-globetrotter-bolivie.jpg">
	</div>
	<div class="row">
		<div  class=" tailleT col-md-offset-1 col-md-10 col-md-offset-1">

			<div class="text-center ">
					<h2 id="titleAbout">Qui suis-je ?</h2>
			</div>

		<div class="text-justify about">
					<p>Bonjour et bienvenue à vous, je m’appelle Pierre et j’ai trente ans. J’ai effectué le travail de comptable durant six ans et j’ai décidé de tout laisser tomber du jour au lendemain pour ma passion : LE VOYAGE !! Cela fait 1 ans maintenant que je sillonne les villes du monde pour vous partager les paysages, les rencontres ainsi que les meilleurs plans, pour toutes les bourses !

					</p>
		</div>

		<div class="text-justify about">
					<p>Lorsque j’étais enfant, mes parents m’emmenaient en voyage très souvent. En voyant les innombrables paysages magnifiques ainsi que la façon dont les gens vivent ailleurs, leur coutume, mentalité, nourriture, cela m’a ouvert l’esprit et m’a appris à être tolérant. Mais surtout cela m’a donné le goût du voyage et de l’inconnue. Désormais je vis de mon blog grâce à vous et suis très heureux de vous faire participer à la découverte de nouveaux horizon.
					Voyager est plus qu’un loisir pour moi, c’est véritablement un mode de vie.
						</p>
					<p class="text-center">
						N’hésitez pas à visiter mes pages sur les réseaux sociaux, je publie régulièrement photos,
					astuces et conseils pour les voyageurs et serait heureux de discuter avec vous.
					</p>

		</div>
		<hr>
	 </div>

	</div>
</div>
 <a href="#" class="fa fa-chevron-up fa-2x" aria-hidden="true" id="toTop"></a>



<!-- FIN DU HTML -->
{% endblock %}
