{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
